sumo/
# シミュレーションの出力フォルダ
output/
results/

# ログファイル
*.log

# TraCIのトレースファイルなど
*.trc
*.fcd.xml

# SUMO/Simulation outputs
traci_log.txt
tripinfo.xml

# macOS
.DS_Storec
*.DS_Store
evacsim/data/maps/*.osm.pbf

# =========================
# Slurm / simulation logs
# =========================
logs/
slurm_logs/
*.out
*.errevacsim/data/maps/*.osm.pbf
