sumo/

# シミュレーションの出力フォルダ
output/

# ログファイル
*.log

# TraCIのトレースファイルなど
*.trc
*.fcd.xml

# SUMO/Simulation outputs
traci_log.txt
tripinfo.xml

# macOS
.DS_Store
*.DS_Store

# Python cache
__pycache__/
*.pyc

# map data
evacsim/data/maps/*.osm.pbf
data/maps/*.osm.pbf

# =========================
# Slurm / simulation logs
# =========================
logs/
slurm_logs/
*.out
*.err