sumo/
# シミュレーションの出力フォルダ
output/
results/

# ログファイル
*.log

# TraCIのトレースファイルなど
*.trc
*.fcd.xml

# Pythonのキャッシュ
__pycache__/
*.py

# SUMO/Simulation outputs
traci_log.txt
tripinfo.xml

# macOS
.DS_Storec
